body {
    margin: 0;
}
.header{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    background: #AEF3C8;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}
.header__logo{
    width: 150px;
    height: 95px;
}
.header__buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;

}
.item {
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;

}
.item:hover{
    cursor: :pointer;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8);
    transition: .3s all;
}
.item img{
    width: 100px;
    height: 220px;
}
.item__title{
    color:#0C3A76;
    font-size: 15px;
}

.item__price{
    color:#732525;
    font-size: 15px;
    margin-top: 30px;
}
.content a {
    text-decoration: none;
}
.itemContainer .item__image{
    width: 200px;

}
.itemContainer{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    width: 85%;
    padding: 30px 20px;
}

.category-wrapper{
    text-align: center;

}

.options{
    padding: 2px 55px;
}