body {
    margin: 0;
}
.header{
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    background: #AEF3C8;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    position: sticky;
    top: 0;
}
.header__logo{
    width: 130px;
    height: 70px;
}
.header__buttons{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.header__buttons img {
    height:40px;
}

.header__button {
    display:flex;
    align-items: center;
    height: 100%;
    color: #333;
    transition: all .5s;
    cursor: pointer;
}
